*{
    margin: 0;
    font-family: Helvetica;
  }
  #produtos{
    max-width: 800px;
    margin: 80px;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
  }
  #carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
  }
  .produtos-single{
    width: 200px;
    height: 120px;
    padding: 0 20px;

    
  }
  .produtos-single img{
    width: 100px;
    height: auto;
  }
  h2{
    background-color: lavender;
    padding: 10px 0;
    text-align: center;
  }
  .info-single-checkout{
    border-bottom: 2px dotted;
    padding: 30px;
    
  }